{% extends "template.html.twig" %}
{% block menugauche %}
    <!-- menu gauche -->
    <div id="menu-g" class="col-lg-2">
        <a href="index.php">
            <img class="col-lg-12 logo" src="img/logo.png" alt="logo-cfm2m"/>
        </a>
        <!-- menu rapide -->
		<center><p>Vous êtes connecté en tant que<br>{{ currentUser }}</p></center>
        <div class='swanky_wrapper'>
            <label for='Dashboard'>
                <a href="index.php">
                    <div class="content-img">
                        <img src='img/home.png'>
                    </div>
                    <span>Accueil</span>
                </a>
            </label>
            <input id='Sales' name='radio' type='radio' class="user">
            <label for='Sales'>
                <a href="?viewutilisateur">
                    <div class="content-img">
                        <img src='img/user.png'>
                    </div>
                    <span>Gestion des utilisateur</span>
                </a>
            </label>
            <input id='Messages' name='radio' type='radio' class="filieres">
            <label for='Messages'>
                <div class="content-img">
                    <img src='img/groupe.png'>
                </div>
                <span>Gestion des filières</span>
                <div class='lil_arrow'></div>
                <div class='bar'></div>
                <div class='swanky_wrapper__content_filieres'>
                    <ul>
                        <a href="?insertlafiliere" alt="Ajouter filière">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/add.png'>
                                </div>
                                <span>Ajouter</span>
                            </li>
                        </a>
                        <a href="?viewlafiliere" alt="modifier filière">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/modified.png'>
                                </div>
                                <span>Modifier</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </label>
            <input id='droits' name='radio' type='radio'>
            <label for='droits'>
                <div class="content-img">
                    <img src='img/droit.png'>
                </div>
                <span>Gestions des droits</span>
                <div class='lil_arrow'></div>
                <div class='bar'></div>
                <div class='swanky_wrapper__content_droits'>
                    <ul>
                        <a href="#" alt="ajouter droits">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/add.png'>
                                </div>
                                <span>Ajouter</span>
                            </li>
                        </a>
                        <a href="#" alt="modifier droits">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/modified.png'>
                                </div>
                                <span>Modifier</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </label>
            <input id='Sessions' name='radio' type='radio'>
            <label for='Sessions'>
                <div class="content-img">
                    <img src='img/session.png'>
                </div>
                <span>Gestions des sessions</span>
                <div class='lil_arrow'></div>
                <div class='bar'></div>
                <div class='swanky_wrapper__content_droits'>
                    <ul>
                        <a href="./?insertlasession" alt="ajouter session">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/add.png'>
                                </div>
                                <span>Ajouter</span>
                            </li>
                        </a>
                        <a href="./?viewlasession" alt="modifier sessions">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/modified.png'>
                                </div>
                                <span>Modifier</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </label>
            <input id='inscription' name='radio' type='radio'>
            <label for='inscription'>
                <div class="content-img">
                    <img src='img/inscription.png'>
                </div>
                <span>Gestions des inscriptions</span>
                <div class='lil_arrow'></div>
                <div class='bar'></div>
                <div class='swanky_wrapper__content_droits'>
                    <ul>
                        <a href="./?insertlinscription" alt="ajouter l'inscription">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/add.png'>
                                </div>
                                <span>Ajouter</span>
                            </li>
                        </a>
                        <a href="./?viewlinscription" alt="modifier l'inscription">
                            <li class="sub-menu">
                                <div class="content-img-in">
                                    <img src='img/modified.png'>
                                </div>
                                <span>Modifier</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </label>
            <input id='Users' name='radio' type='radio'>
            <a id='deconnexion' href="?deconnect">
                <label for='Dashboard'>
                    <div class="content-img">
                        <img src='img/logout.png'>
                    </div>
                    <span>Déconnexion</span>
                </label>
            </a>
        </div>
        <!-- end menu rapide -->
    </div>
    <!-- end menu gauche -->
{% endblock %}
