/* CUSTOM ALERT MESSAGES */
/* connected */
.alert-connected {
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  width: 100%;
  z-index: 88888;
  text-align: center;
  }
  /* Disconnect */
  .alert-disconnect {
      position: fixed;
      bottom: 0;
      padding: 20px;
      background-color: #4CAF50;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 15px;
      width: 50%;
      z-index: 88888;
    }
    /* false or error */
    .alert-false {
      position: fixed;
      left:0px;
      top: 0;
      padding: 20px;
      background-color: #f44336;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 15px;
      width: 100%;
      z-index: 88888;
    }
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
      z-index: 666;
    }
    .closebtn:hover {
      color: black;
    }