body{
    background-image:url('../img/background_intranet.jpg');
}
.content-form{
    position:relative;
    margin-top:18%;
    padding-top:25px;
    padding-bottom: 25px;
    background-color: rgba(0,0,0,0.5);
    min-height: 400px;
}
.logo{
    margin-top:10%;
    margin-bottom:10%;
}
.content-form input{
    margin-bottom: 25px;
}
.footer{
    background-color: rgba(0,0,0,0.5)
}