{% extends "template.html.twig" %}
{% block haut %}{% endblock %}
{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block menuhaut %}
{% endblock %}


{% block milieu %}



<!-- container -->
<div align="center"id="content-website" class="container-fluid">
    <!-- content login password form -->
    <div class="content-form col-lg-3">
        <!-- start form ( TODO: changer chemin action )-->
    <!-- Navigation -->
        <form method="post" action="./" accept-charset="UTF-8" class="col-lg-12">
            <!-- logo -->
            <img class="logo col-lg-10" src="img/logo.png"><!-- end logo -->
            <div class="form-group">
                <!-- login -->
                <input class="col-lg-10 form-control" type="password" class="form-control" name="lemotdepasse" id="password" placeholder=" new password"><!-- end login -->
                <!-- password -->
                <input class="col-lg-10 form-control" type="password" class="form-control" name="lemotdepasse" id="confirm_password" placeholder="repet password"><!-- end password-->
                <input type="hidden" name="luniqueid" value="{{ key }}">
            </div>
            <!-- button connexion -->
            <button id="envoyer" class="btn btn-primary col-lg-10" role="button">Modifier mot de passe</button>

        </form><!-- end form -->

        </div><!-- END container -->


    </div>
    <script>
        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Le mot de passe \n" +
                    "ne correspond pas ");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}
