
 {# on étend le template depuis base.html.twig, qui est donc son parent #}

{% extends "template.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}
    {{ parent() }}

    | Accueil evaluation filiere

{% endblock %}

{% block menuhaut %}
    {% include "hautEtmenu.html.twig" %}
{% endblock %}

{% block centre %}
    <!-- Page Content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h1 class="mt-5">Recherche </h1>

                <p class="lead">rechercher un stagiaire</p>

            </div>
            
        </h4>
    </div>
    <br>
    <div class="col-lg-6 text-left">
{{ pagination|raw }}

        {# Faites apparaître les sections (celles du menu) cliquables dans un nouveau h4, sinon écrivez "Pas encore d'éléments dans le menu" #}
       

        <div class="col-lg-8 text-left">
                {# Affichage des bouttons filiere #}
                <h1>Recherchez un stagiaire pour accéder à son profil:</h1>
                
                 {% include "autocomplete.html.twig" %}
                
                <h3>{{ error }}</h3>
            </div>
       
            
    </div>

 
</div></main>{% endblock %}

{% block bas %}

   
    
		
		

{% endblock %}

{#{% include "footer.html.twig" %}#}



