{#appel de bootstrap2#}
{% extends "bootstrap2.html.twig" %} 
 
 
 {#template de recherche stagiaire#}
 <div>

 
  {#input recherche stagiaire#}               
<label for="stagiaire">Entrez le nom ou le prenom d'un stagiaire: </label><input type="text" id="stagiaire" name="utilisateur" value="{{user}}" />
                
</div>


