
 
 
 {#template de recherche stagiaire#}
 {% block milieu %}
 <div>

 
  {#input recherche stagiaire#}               
<label for="stagiaire">Entrez le nom ou le prenom d'un stagiaire: </label><input type="text" id="stagiaire" name="rechercheStagiaire"/>
                
</div>

{% endblock %}
