<!-- container -->
<div align="center"id="content-website" class="container-fluid">
    <!-- content login password form -->
    <div class="content-form col-lg-2">
        <!-- start form ( TODO: changer chemin action )-->
        <form method="post" action="#" accept-charset="UTF-8" class="col-lg-12">
			<!-- logo -->
			<img class="logo col-lg-12" src="img/logo.png"><!-- end logo -->
            <div class="form-group">
				<!-- login -->
            	<input class="col-lg-10 form-control" type="text" class="form-control" name="" id="" placeholder="Login"><!-- end login -->
				<!-- password -->
				<input class="col-lg-10 form-control" type="password" class="form-control" name="" id="" placeholder="password"><!-- end password-->
            </div>
			<!-- button connexion -->
			<a name="envoyer" id="envoyer" class="btn btn-primary col-lg-10" href="#" role="button">Se connecter</a>
        </form><!-- end form -->
    </div>
</div><!-- END container -->