{% extends "bootstrap.html.twig" %}

{% block milieu %}
    
<!-- container -->
<div class="container-fluid row h-100">
    {% block menugauche %}
    
    {% endblock %}
    {% block centre %}{% endblock %}
    
</div><!-- end container -->
{% endblock %}